@model CBMSystem.Models.Loan

@{
    ViewData["Title"] = "Delete Loan";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm border-0" style="max-width: 600px; width: 100%;">
        <div class="card-header text-black  d-flex justify-content-between align-items-center" style="background-color:gainsboro;">
            <h4 class="mb-0">Delete Confirmation</h4>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
        </div>

        <div class="card-body p-4">
            <h5>Are you sure you want to delete this loan?</h5><br />
            <dl class="row">
                <dt class="col-sm-5">Account Number</dt>
                <dd class="col-sm-7">@Model.AccountNumber</dd>

                <dt class="col-sm-5">Loan Type</dt>
                <dd class="col-sm-7">@Model.LoanType</dd>

                <dt class="col-sm-5">Loan Amount</dt>
                <dd class="col-sm-7">₹@Model.LoanAmount.ToString("N2")</dd>

                <dt class="col-sm-5">Applied Date</dt>
                <dd class="col-sm-7">@Model.AppliedDate.ToString("dd MMM yyyy")</dd>
            </dl>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="LoanId" />
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
